{{template "base" .}}

{{define "content"}}
	<div class="container">
	   
    <div class="row">
      <div class="col text-center">
      <img src="/static/images/couples-suite.png" class="img-fluid img-thumbnail room-image">
        </div>
    </div>
     <div class="row">
       <div class="col">
         <h1 class="text-center mt-4">  Couple's Suite</h1>
         <p> You're home away from home. Nestled in the heart of the rockies, you'll can't wait to come back. You're home away from home. Nestled in the heart of the rockies, you'll can't wait to come back. You're home away from home. Nestled in the heart of the rockies, you'll can't wait to come back. You're home away from home. Nestled in the heart of the rockies, you'll can't wait to come back.</p>
       </div>
     </div>
     <div class="row">
       <div class="col text-center">
         
         <a href="/book-cs" class = "btn btn-success">Check Availability</a>
       </div>
     </div>
{{end}}